<div class="dashboard-container" cdkDropList (cdkDropListDropped)="drop($event)">
  <div>
    <h1>Real-Time Currency Rates</h1>
    <table>
      <thead>
      <tr>
        <th>Currency Pair</th>
        <th>Rate</th>
        <th>Timestamp</th>
      </tr>
      </thead>
      <tbody>
<!--      <tr *ngFor="let rate of realTimeData|async">-->
<!--        <td>{{ rate?.currency_pair }}</td>-->
<!--        <td>{{ rate?.rate }}</td>-->
<!--        <td>{{ rate?.timestamp }}</td>-->
<!--      </tr>-->
      </tbody>
    </table>
  </div>

  <div>
    <p>No real-time data available yet.</p>
  </div>

  <div
    *ngFor="let row of rows$ | async"
    class="grid-row"
    cdkDropList
    cdkDropListDisabled
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="dropRow($event, row.id)"
  >
    <div
      *ngFor="let page of row.pages"
      class="grid-item"
      cdkDrag
      [ngClass]="page.size"
    >
      <ng-container [ngSwitch]="page.component">
        <app-congratulate-card
          *ngSwitchCase="'app-congratulate-card'"
        ></app-congratulate-card>
        <app-payments *ngSwitchCase="'app-payments'"></app-payments>
        <app-products *ngSwitchCase="'app-products'"></app-products>
        <app-latest-deals *ngSwitchCase="'app-latest-deals'"></app-latest-deals>
        <app-customers *ngSwitchCase="'app-customers'"></app-customers>
        <app-latest-reviews
          *ngSwitchCase="'app-latest-reviews'"
        ></app-latest-reviews>
      </ng-container>
    </div>
  </div>
</div>
