<!--editpassword Page Starts-->
<section id="regestration">
  <div class="row auth-height full-height-vh m-0">
    <div class="col-12 d-flex align-items-center justify-content-center">
      <div class="card overflow-hidden">
        <div class="card-content">
          <div class="card-body auth-img">
            <div class="row m-0">
              <div class="col-lg-6 d-none d-lg-flex  auth-img-bg p-0">
                <img alt=""
                     class="img-fluid"
                     src="../../../../assets/img/gallery/Reinitialiser.png">
              </div>
              <div class="col-lg-6 col-md-12 px-4 py-3 mt-5">
                <h4 [style.color]="'#008EAA'"
                    class="mb-4 card-title">Réinitialisation mot de passe</h4>
                <div *ngIf="isEditFailed"
                     class="alert alert-light-danger"
                     role="alert">
                  {{message}}
                </div>
                <form (ngSubmit)="onSubmit()"
                      [formGroup]="editPasswordForm">
                  <div class="form-group">
                    <div class="input-group">
                      <input
                        [ngClass]="{ 'is-invalid': formControler['oldPpassword'].errors  && formControler['oldPpassword'].touched  }"
                        class="form-control mb-2 mt-1"
                        formControlName="oldPpassword"
                        id="oldPpassword"
                        placeholder="Tapez votre mot de passe actuel"
                        required
                        type="password"
                      />
                    </div>
                    <div
                      *ngIf="editPasswordForm.controls['oldPpassword'].invalid && (editPasswordForm.controls['oldPpassword'].dirty || editPasswordForm.controls['oldPpassword'].touched)"
                      class="alert alert-danger mb-2">
                      <span
                        *ngIf="editPasswordForm.controls['oldPpassword'].errors?.['minlength']"
                      >
                        Minimum 6 charactèrs
                      </span>
                      <span
                        *ngIf="editPasswordForm.controls['oldPpassword'].errors?.['required']"
                      >
                        le mot de passe est obligatoire.
                      </span>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <input
                        [ngClass]="{ 'is-invalid': formControler['newPassword'].errors  && formControler['newPassword'].touched  }"
                        class="form-control mb-2 mt-1"
                        formControlName="newPassword"
                        id="newPassword"
                        placeholder="Tapez le nouveau mot de passe"
                        required
                        type="password"
                      />
                    </div>
                    <div
                      *ngIf="editPasswordForm.controls['newPassword'].invalid && (editPasswordForm.controls['newPassword'].dirty || editPasswordForm.controls['newPassword'].touched)"
                      class="alert alert-danger mb-2">
                      <span
                        *ngIf="editPasswordForm.controls['newPassword'].errors?.['minlength']"
                      >
                        Minimum 6 charactèrs
                      </span>
                      <span
                        *ngIf="editPasswordForm.controls['newPassword'].errors?.['Equivalent']"
                      >
                        Le nouveau mot de passe doit être différent de l'ancien.
                      </span>
                      <span
                        *ngIf="editPasswordForm.controls['newPassword'].errors?.['required']"
                      >
                        le mot de passe est obligatoire.
                      </span>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <input
                        class="form-control mb-2 mt-1"
                        formControlName="confirmPassword"
                        id="confirmPassword"
                        placeholder="Confirmez le nouveau  mot de passe"
                        required
                        type="password"
                      />
                    </div>
                    <div
                      *ngIf="editPasswordForm.controls['confirmPassword'].invalid && (editPasswordForm.controls['confirmPassword'].dirty || editPasswordForm.controls['confirmPassword'].touched)"
                      class="alert alert-danger mb-2">
                      <span
                        *ngIf="editPasswordForm.controls['confirmPassword'].errors?.['notEquivalent']"
                      >
                        Confirmer mot de passe et mot de passe non pas identique.
                      </span>
                    </div>
                  </div>
                  <div class="float-right">
                    <button [disabled]="!editPasswordForm.valid || !loading"
                            class="btn btn-blue mt-3"
                            type="submit">Réinitialiser
                    </button>
                  </div>
                </form>
                <div class="mt-4">
                  <hr [style.border-top]="'1px solid #AD1380'">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--editpassword Page ends-->
